<!DOCTYPE html>
<html lang="en" ng-app="JeanApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg" height=32 width=32/>
    <title>Investing Philosophy | Jean's Website</title>

    <!-- Latest Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Bootstrap Social -->
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <!-- My styles -->
    <link href="styles/my-styles.css" rel="stylesheet">
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Electrolize|Orbitron|Geo|Cinzel|Kreon' rel='stylesheet' type='text/css'>

    <!-- Angular JS (necessary for easier and non-repetitive code) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <!-- JeanApp -->
    <script src="scripts/jeanApp.js"></script>

</head>

<body id="philosophy-page">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collased" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="/images/logo.jpg" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="homeController as homeCtrl">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="websTag"> Websites </a>
                        <ul class="dropdown-menu">
                            <li><a href="/websites/CYRE/pages/index.html" target="_blank">CYRE</a></li>
                            <li><a href="/websites/phoenix/index.html" target="_blank">Phoenix</a></li>
                            <li><a href="/websites/tokugawa/pages/index.html" target="_blank">Tokugawa</a></li>
                            <li><a href="/websites/conFusion/index.html" target="_blank">Ristorante Con Fusion</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">In-site Applications</li>
                            <li><a href="financial-data.html">Nornir</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="blogTag"> Blogs </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://evolutioncode.wordpress.com/" target="_blank">Main Page</a></li>
                            <li><a href="https://tuonilabs.wordpress.com/" target="_blank">Cyber Security Blog</a></li>
                            <li><a href="https://evolutioncode.wordpress.com/category/on-investing/" target="_blank">Investing Blog</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="cyberTag"> Cyber Security </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://tuonilabs.wordpress.com/" target="_blank">Blog</a></li>
                            <li><a href="https://tuonilabs.wordpress.com/2017/01/05/index/" target="_blank">Write-Ups</a></li>
                            <li><a href="https://github.com/Jean13?tab=repositories" target="_blank">Code</a></li>
                        </ul>
                    </li>
                    <li><a href="investing-philosophy.html" id="philosophyTag">Investing Philosophy</a></li>
                    <li><a href="https://evolutioncode.wordpress.com/about-me/" id="aboutTag" target="_blank">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="contactTag">Contact</a></li>
                    <li ng-repeat="right in homeCtrl.rightNav"><a href={{right.link}} id={{right.id}} target="_blank">{{right.name}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Me A Message </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label">Name</label>
                            <div class="col-xs-12 col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Full Name" ng-model="userName" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-xs-12 col-sm-2 control-label">Email</label>
                            <div class="col-xs-12 col-sm-10">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email2" name="email" placeholder="Enter Your Email Address" ng-model="userEmail" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="feedback" class="col-sm-2 control-label">Your Message</label>
                            <div class="col-xs-12 col-sm-10">
                                <textarea class="form-control" id="userMessage" name="userMessage" rows="12" placeholder="Enter Your Message Here..." required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Send</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="philosophyContainer">
        <div class="row row-header">
            <div class="col-xs-12">
                <h1 id="philosophyHeader">My Investing Philosophy</h1>
            </div>
        </div>
        <div class="row row-content" ng-controller="homeController as homeCtrl">
            <div class="col-xs-12">
                <h4>Focus on Value</h4>
                <p style="padding:1px;"></p>
                <p>Money is made in investing by figuring out what something is worth and paying a lot less. I only invest in businesses that are undervalued. I screen and analyze thousands of companies, but I only buy when the price is low enough that it may provide a satisfactory return and at the same time offer a wide margin of safety.
                    <p style="padding:1px;"></p>
                    I place an incredible amount of time and analysis on determining the range of potential outcomes of an investment. I not only look for high returns, but I also look at the risk. I analyze every knowable fact about the business and I talk to management and to all the parties involved in transactions with the company. That means that I also look for potential hidden assets and off-balance-sheet liabilities that enable me to arrive at risk-adjusted valuations. I build multiple scenarios based on financial, operational and legal analysis, and invest when I believe that there is enough downside protection and considerable upside.
                    <p style="padding:2px;"></p>
                    My competitive advantages include:
                    <br/> • <strong>Long-term orientation</strong> – Allowing focus on absolute returns and hence maximum profit.
                    <br/> • <strong>Education in Finance and Law</strong> – Allowing participation in the distressed market and international financial instruments, and enhancing protection against downside.
                    <br/> • <strong>Capability to speak multiple languages</strong> – Allowing access to international markets and more in-depth due diligence and understanding of important subtleties.
                    <br/> • <strong>Focus on Value</strong> – Avoiding investing in overvalued businesses and fads.
                    <br/> • <strong>Involvement in Technology</strong> – Allowing better understanding of new technologies and how they affect the economy, keeping updated on new developments and capability of valuing technology businesses.
                    <br/> • <strong>Experience in Real Estate</strong> – Allowing optimum investment and management of properties globally. These competitive advantages have allowed me to successfully invest internationally, in different parts of the capital structure and to make money in all market conditions.
                    <p style="padding:6px;"></p>
                    <br/>
                    <h4>Ultimate Goal</h4>
                    <p style="padding:2px;"></p>
                    <p>My goal is to buy whole businesses, whether through the acquisition of large amounts of stock, through the acquisition of debt, or through purchases in the private sector. In terms of real estate, my goal is to continue to buy and own multi-unit properties. While my beginnings were in the public markets, as my assets under management continue to grow, I will expand into the private sector. My investments then will be in both the public and private markets.</p>
            </div>
        </div>
    </div>




    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul class="list-unstyled list-inline">
                        <li><a href="index.html" class="vertical-separator">Jean González © 2017</a></li>
                        <li><a href="https://tuonilabs.wordpress.com/" class="vertical-separator" target="_blank">Blog</a></li>
                        <li><a href="/websites/CYRE/pages/index.html" class="vertical-separator" target="_blank">CYRE</a></li>
                        <li><a href="/websites/phoenix/index.html" class="vertical-separator" target="_blank">Phoenix</a></li>
                        <li><a href="/websites/tokugawa/pages/index.html" class="vertical-separator" target="_blank">Tokugawa</a></li>
                        <li><a href="/websites/conFusion/index.html" class="vertical-separator" target="_blank">Con Fusion</a></li>
                        <li><a href="financial-data.html" class="vertical-separator" target="_blank">Nornir</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <ul class="list-unstyled list-inline">
                        <li id="followJean">Follow Jean | </li>
                        <li><a href="https://www.facebook.com/jeancgonz" class="vertical-separator" target="_blank">Facebook</a></li>
                        <li><a href="https://www.linkedin.com/in/jcarlogonzalez" class="vertical-separator" target="_blank">LinkedIn</a></li>
                        <li><a href="https://tuonilabs.wordpress.com/" class="vertical-separator" target="_blank">WordPress</a></li>
                        <li><a href="https://twitter.com/tuoni_" class="vertical-separator" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https:////code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https:////code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Modals: Log In, Updates -->
    <script src="scripts/modals.js"></script>

</body>

</html>
